body {
    background: linear-gradient(-45deg, black, #383838, coral);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

    font-family: 'Fira Code', monospace;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



a {
    color: white;
}

/* h {
    font-size: 15px;
} */

#canvas {
    border: 2px solid white;
    color: black;
}

th, td {
    padding: 5px;
    /* border-bottom: 1px solid gray; */
}

tr:not(:first-child):hover {
    background-color: coral;
}

/* tr:nth-child(even) {background-color: #111111;} */

table {
    /* border: 1px solid white; */
    width: 100%;
    text-align: center;
    border-spacing: 0px;
}

input[type=text] {
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: transparent;
    /* opacity: 0.0; */
    
    /* width: 100%; */
    /* padding: 12px 20px; */
    /* border: 2px solid grey; */
    margin: 8px 0;
    box-sizing: border-box;

    border: none;
    border-bottom: 2px solid red;
}

/* input[type=text]:focus { */
    /* background-color: grey; */
    /* border: 2px solid #555; */
/* } */

input[type=button], input[type=submit], input[type=reset] {
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: gray;
    
    border: white;
    border-radius: 4px;
    padding: 8px 20px;
    text-decoration: none;
    margin: 8px 2px;
    cursor: pointer;
}

