{% extends 'circleScoreApp/base_template.html' %}

{% load static %}

{% block content %}

{% if all_circles_list %}
    <table>
        <tr>
            <th>Circularity</th>
            <th>Artist</th>
            <th>Draw date</th>
        </tr>
        {% for circle in all_circles_list %}
            <tr>
                <td><a href={% url 'circle' circle.id %}>{{ circle.circularity }}</a></td>
                <td>{{ circle.artist_name }}</td>
                <td>{{ circle.draw_date }}</td>
            </tr>
        {% endfor %}
    </table>            
{% else %}
    <p>No circles are available.</p>
{% endif %}

{% endblock %}