<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Circle Score</title>
    </head>
    <body style="background-color:grey;">
        <div align="right">
        <a href = {% url 'drawing' %}>Home</a>
        |<a href = {% url 'index' %}>Gallery</a>
        </div>
        <hr>
        {% block content %}
        <!-- Here comes html code of non template html file -->
        {% endblock %}
    </body>
</html>